.Footer
  padding: 110px 0
  border-top: 1px solid #fff
  display: flex
  justify-content: space-between
  .leftSide
    max-width: 310px
    img
      margin-bottom: 40px
    span
      color: #5C5C5C
      cursor: pointer
      display: block
      transition: color .3s ease-in-out
      margin-bottom: 45px
      &:last-child
        margin-bottom: 0
      &:hover
        color: #fff
  .centerSide
  .rightSide
    .sotials
      display: flex
      justify-content: space-between
      :global(".sotial")
