@import "~video-react/styles/scss/video-react"
@import '~reset-css'
@import "./mixins/vars"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap')

@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"

@font-face
  font-family: "Big"
  src : url("fonts/BigillaRegular.woff2") format("woff2")

$responsive: calc(1vh + 1vw)

body, html
  background-color: $backgroundColor
  color: $textColor
  font-family: 'Montserrat', sans-serif
  font-weight: 200
  overflow-x: hidden
  scroll-behavior: smooth

//html, body
//  overflow-x: hidden

div, section
  box-sizing: border-box

a
  text-decoration: none
  color: #fff

section
  min-height: 630px

.video-react .video-react-volume-menu-button
  display: none

input
  background-color: transparent
  padding: 0
  display: block
  outline: none
  box-shadow: none
  border: none
  border-bottom: 1px solid #5C5C5C
  color: #fff
.container
  width: 1320px
  margin: auto

.MainSection
  .VideoPlayerWrapper
    height: calc(#{$responsive} * 6)
    width: calc(#{$responsive} * 10)
  .video-react
    width: 100% !important
    height: 100% !important
//    padding-top: 0 !important
//    .video-react-video

*::-webkit-scrollbar-thumb
  background-color: #fff

*::-webkit-scrollbar-track
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset


@media only screen and (max-width: 1919px)
  .container
    width: 1060px

@media only screen and (max-width: 1200px)
  .container
    width: 870px

@media only screen and (max-width: 992px)
  .container
    width: 570px

@media only screen and (max-width: 767px)
  .container
    width: 80%

@media only screen and (max-width: 568px)
  .container
    width: 315px


*::-webkit-scrollbar
  width: 2px

*::-webkit-scrollbar-thumb
  background-color: grey

*::-webkit-scrollbar-track
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset

.littleNumber
  bottom: 0
  left: 0
  color: #fff
  opacity: .1


