.VideoPlayerWrapper
  position: absolute
  bottom: 8%
  top: inherit
  right: 8%
  :global(.video-react)
    padding-top: 400px !important
    :global(.video-react-big-play-button)
      top: calc(50% - 0.75em)
      left: calc(50% - 1.5em)
      border-radius: 0