.arrowWrapper
  display: flex
  flex-direction: column
  align-items: center
  cursor: pointer
  position: relative
  .circle
    width: 50px
    height: 51px
    border-radius: 50%
    border: 1px solid #C4C4C4
    display: flex
    align-items: center
    justify-content: center
  .arrow
    margin-left: -45px
    transition: margin-left .3s cubic-bezier(0,.24,.32,.99)

  @media screen and (max-width: 765px)
    .circle
      width: 30px
      height: 31px
    .arrow
      width: 18px
      transform: translateX(calc(50% - 17px))
      top: calc(50% - 3px)

