@import "https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap"

.Menu
  position: fixed
  background-color: #000
  top: 0
  left: 0
  width: 100%
  opacity: 0
  transition: all .3s cubic-bezier(0,.24,.32,.99)
  height: 100%
  z-index: 8
  display: flex
  align-items: center
  justify-content: center
  .bgImage
    position: absolute
    transition: transform .3s cubic-bezier(0,.24,.32,.99)
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: -2
    object-fit: cover
    & > div
      height: 100%
      width: 100%
      img
        height: 100%
        width: 100%
        object-fit: cover
  ul.menuItems
    position: absolute
    right: 20%
    font-family: "Big"
    height: 70%
    max-height: 688px
    display: flex
    flex-direction: column
    justify-content: space-between
    li.menuItem
      text-align: center
      transition-timing-function: cubic-bezier(0,.24,.32,.99)
      &.RuItem
        font-family: 'Alumni Sans Pinstripe', sans-serif
        &:last-child
        margin-bottom: 0
      a
        transition: color .3s ease-in-out
        color: rgba(255, 255, 255, .7)
        font-size: 40px
        font-weight: 600
        &:hover
          color: rgba(255, 255, 255, 1)
  :global(.container)
    height: 100%
    .socials
      width: 320px
      display: flex
      justify-content: space-between
      position: relative
      top: calc(100% - 75px)

  @media screen and (max-width: 1200px)
    ul.menuItems
      right: inherit
  @media screen and (max-width: 576px)
    ul.menuItems
      height: 65%
      margin-top: -25px
      li a
        font-size: 40px
    :global(.container)
      .socials
        width: 60%
